{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ request.user.username }} | The Chat{% endblock %}

{% block body %}
<div ng-controller="userChatController">
<div class="row-body content-profile">
     <!-- Cover/Profile Bar -->
     <div class="twelve columns">
        <div class="cover-container">
           <div class="cover-content">
               <div id="user_statistics_count">
                 <span class="span_margin">
                      <a ng-click="getFollows()" style="color:#fff">
                          Follows: <span ng-bind="user.followees"></span>
                      </a>
                  </span>
                   <span class="span_margin">
                      Followers: <span ng-bind="user.followers"></span>
                  </span>
                  <span>
                      Session: <span ng-bind="user.session"></span>
                  </span>
               </div>
              <div class="cover-image" ng-style="{'background-image': 'url(' + user.background_url + ')'}"></div>
              <div class="cover-description">
                 <div class="cover-avatar-content">
                    <div class="cover-avatar">
                       <span>
                        <img ng-src="{[{ user.avatar_url }]}" />
                       </span>
                    </div>
                 </div>
                 <div class="cover-description-content">
                    <span id="author3pricop"></span>
                    <span id="time3pricop"></span>
                    <div class="cover-username">
                       <a href="javascript:void(0)" ng-bind="user.username"></a>
                    </div>
                    <div class="cover-description-buttons">
                       <div id="subscribe3"></div>
                    </div>
                     <div>
                         <a href="javascript:void(0)" title="Change Profile Images">
                             <div class="edit_profile_btn"></div>
                         </a>
                     </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>


<div class="row-body content-messages" ng-switch="page">
    <!-- Follows -->
    <div ng-switch-when="follows">
        <div class="animation" ng-include=" '/static/js/apps/views/account_follows.html' "></div>
    </div>
    <!-- Chat -->
    <div ng-switch-default>
        <div class="animation" ng-include=" '/static/js/apps/views/account_chat.html' "></div>
    </div>
</div>
</div>
{% endblock %}
