{% load staticfiles %}
{% load django_static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>{% block title %}{% endblock title %}</title>
<link href="{% static "style/style.css" %}" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

{% slimall %}
<script type="text/javascript" src="{% static "js/knockout.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-resource.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-animate.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-route.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/apps.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/resources.js" %}"></script>
<script type="text/javascript" src="{% static "js/apps/controllers/auth.js" %}"></script>
{% endslimall %}

{% block head %}{% endblock head %}
</head>
<body ng-app="mainApp">

<!-- Header -->
<div class="topbar">
    <div class="header">
        <a href="{% url 'homepage' %}"><div class="logo"></div><div class="logo-small"></div></a>
        <div class="search-input">
            <input type="text" id="search" placeholder="search people, hashtags" x-webkit-speech="x-webkit-speech" onwebkitspeechchange="liveSearch();">
        </div>

        {% if request.user.is_anonymous %}
            <a href="{% url 'homepage' %}">
                <div class="menu_btn" title="Register">
                    <img src="{% static "images/register.png" %}" />
                </div>
            </a>
            <a href="{% url 'homepage' %}">
                <div class="menu_visitor">Hello <strong>Visitor</strong></div>
            </a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a href="javascript:void(0)" ng-controller="logoutController">
                <div class="menu_btn" title="Log Out">
                    <img ng-click="process()" src="{% static "images/logout.png" %}">
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="menu">
                <div class="menu_img"><img src="{% static "images/avatar_profile_default.jpeg" %}" /></div>
                <div class="menu_name">
                    <strong>{{request.user.username}}</strong>
                </div>
                </div>
            </a>
        {% endif %}

    </div>
    <div class="search-container"></div>
</div>

<div class="topbar_margin"></div>


{% block body %}

{% endblock body %}


<!-- Footer -->
<div class="row-body">
    <div class="footer">
        <div class="footer-container">
            <div class="footer-links">
                {% for page in pages %}
                   <a href="{% url 'page-detail' page.slug %}">{{ page.name }}</a>
                    <span class="page-seperator">-</span>
                {% endfor %}
            </div>
            <div class="footer-languages">
                Language:
                <a href="javascript:void(0)">English</a> -
                <a href="javascript:void(0)">Netherlands</a> -
                <a href="javascript:void(0)">Romanian</a>
            </div>
            <div class="footer-languages">
                Copyright &copy; 2014 . All rights reserved
            </div>
        </div>
    </div>
</div>

</body>
</html>