{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home Page | The Chat{% endblock %}

{% block body %}
<!-- Login / Register -->
<div class="row-welcome content-welcome" ng-init="authenticate=false">
    <div class="row-body">
        <div class="welcome-inner">
            <div class="welcome-message">
                <div class="welcome-title">
                    Welcome
                </div>
                <div class="welcome-desc">
                    to our anonym chat network
                </div>
                <div class="welcome-about">
                    share your memories, connect with others, make new friends.
                </div>
            </div>
            <div class="welcome-inputs">
                <form action="" method="POST" autocomplete="off" ng-submit="process()" ng-controller="registerController">

                    <alert shape="'homepage'" context="alert"></alert>

                    <input type="text" required  ng-model="form.username" name="username" placeholder="Username" />
                    <input type="password" required ng-model="form.password" name="password" placeholder="Password" />
                    <input type="text" id="short" ng-model="form.email" name="email" placeholder="Email (optional)" />
                    <button type="submit" name="register"  class="register-button">Register</button>
                </form>
                <br />
                <form action="" method="POST" autocomplete="off" ng-controller="loginController" ng-submit="process()">

                    <alert shape="'homepage'" context="alert"></alert>

                    <input type="text" required ng-model="form.username" name="username" placeholder="Username" />
                    <input type="password" required ng-model="form.password" name="password" placeholder="Password" />
                    <button type="submit" name="login" class="login-button">Login</button>
                    <span class="forgot-password">
                        <a href="{% url 'forgot-my-password' %}">Forgot your password?</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Shuffle -->
<div class="welcome-full" ng-controller="shuffleController">
    <div class="shuffle_bar row-body">
        <span class="title">Shuffle</span>
        <span class="reflesh" ng-click="reflesh()">Reflesh</span>
    </div>
    <shuffle instance="shuffle_list"></shuffle>
</div>
{% endblock body %}