{% extends "base.html" %}

{% block title %}Forgot My Password | The Chat{% endblock %}

{% block body %}
<div class="row-body content-page" ng-controller="forgotPasswordController">
    <div class="nine columns" id="messages">
        <div class="page-container">
        <div class="page-content">
        <div class="page-header">
            <strong ng-bind="title"></strong>
        </div>
            <div class="page-inner">
                <div class="row">
                    <form action="" method="POST" ng-submit="process()">

                        <alert shape="'form'" context="alert"></alert>

                        <div class="page-inner">
                            <div class="page-input-container">
                                <div class="page-input-title" style="width: 55px; text-align: left">E-mail</div>
                                <div class="page-input-content">
                                    <input type="text" required name="email" placeholder="E-mail" ng-model="form.email" />
                                </div>
                            </div>
                        </div>
                        <div class="message-divider"></div>
                        <div class="page-inner">
                            <input type="submit" value="Send"  />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="three columns">
        <div class="sidebar-container">
        <div class="sidebar-content">
            <div class="sidebar-header">Pages</div>
            <div class="sidebar-link">
               <a href="javascript:void(0)" ng-click="changeProcess('password')">Forgot my password</a>
            </div>
            <div class="sidebar-link">
               <a href="javascript:void(0)" ng-click="changeProcess('username')">Forgot my username</a>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}