{% extends "base.html" %}

{% block title %}New Password | The Chat{% endblock %}

{% block body %}
<div class="row-body content-page" ng-controller="newPasswordController">
    <div class="nine columns" id="messages">
        <div class="page-container">
            <div class="page-content">
            <div class="page-header">New Password</div>
                <div class="row">
                    <form action="" method="POST" ng-submit="process()">

                        <alert shape="'form'" context="alert"></alert>

                        <div class="page-inner">
                            <div class="page-input-container">
                                <div class="page-input-title" style="width:110px">New Password</div>
                                <div class="page-input-content">
                                    <input required type="password" name="new_password" ng-model="form.new_password" placeholder="New Password" />
                                </div>
                            </div>
                            <div class="page-input-container">
                                <div class="page-input-title" style="width:110px">Confirm Password</div>
                                <div class="page-input-content">
                                    <input required type="password" name="confirm_password" ng-model="form.confirm_password" placeholder="Confirm Password" />
                                </div>
                            </div>
                        </div>
                        <div class="message-divider"></div>
                        <div class="page-inner">
                            <input type="submit"  value="Change" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="three columns">
        <div class="sidebar-container">
        <div class="sidebar-content">
            <div class="sidebar-header">Account Detail</div>
            <div class="sidebar-link">
                <a href="javascript:void(0)" ng-init="username='{{ object.username }}'">
                    <b>Username:</b> {{ object.username }}
                </a>
            </div>
            <div class="sidebar-link">
               <a href="javascript:void(0)" ng-init="form.email='{{ object.email }}'">
                    <b>E-Mail:</b> {{ object.email }}
               </a>
            </div>
            <div class="sidebar-link">
               <a href="javascript:void(0)" style="height: 32px;" ng-init="form.secret_key='{{ object.secret_key }}'">
                    <b>Secret:</b> {{ object.secret_key }}
               </a>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}